# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
*.so

# Virtual environment
venv/
.venv/
env/

# Tests & coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/
pytest.ini
src/tests/

# Docs
docs/
*.md
README*

# Dev & editor
.env
.env.*
.git/
.gitignore
.github/
.vscode/
.idea/

# Docker
Dockerfile
Dockerfile.*
.dockerignore
docker-compose.yml
docker-compose*.yml

# Makefile
Makefile

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db