repos:
  - repo: local
    hooks:
     - id: pylint
       name: pylint
       entry: pylint
       language: system
       types: [python]
       args:
          [
            "-rn", # Only display messages 
            "-sn", # Don't display score
            "--rcfile=.pylintrc", # Use custom pylintrc file
            "--load-plugins=pylint.extensions.docparams", # Load an extension
            
          ]